/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2B193D;
}

/* Header Styles */
header {
  background-color: #484D6D;
  text-align: center;
  padding: 20px;
}

header h1 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Navigation Styles */
nav {
  background-color: #4B8F8C;
  text-align: center;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#about {
  background-color: #C5979D;
  text-align: center;
  padding: 20px;
  max-width: 700px;
  margin: 0 auto;
}

.location {
  background-color: #C5979D;
  text-align: center;
  padding: 20px;
}

#contact {
  background-color: #C5979D;
  text-align: center;
  padding: 20px;
}

#rooms {
  background-color: #C5979D;
  text-align: center;
  padding: 20px;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav a:hover {
  color: #2B193D;
  border: 1px dotted white;
  text-decoration: dotted;
  padding: 5px;
}

/* Section Styles */
section {
  margin-bottom: 20px;
}

section h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

/* Footer Styles */
footer {
  background-color: #2B193D;
  text-align: center;
  padding: 10px;
  color: white;
}
