/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #301A4B;
}

header {
  background-image: url("/assets/mirrored.jpg");
  text-align: center;
  padding: 20px;
}


nav {
  background-color: #4B8F8C;
  text-align: center;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#about {
  background-color: #f5c9ce;
  text-align: center;
  padding: 20px;
  font-family: playfair display;
}

.abouttext {
  max-width: 500px;
}

.gallery {
  border-style: solid;
  border-color: whitesmoke;
  padding: 5px;
  margin: 50px;
  background: linear-gradient (to right, #301A4B, #4B8F8C);
  height: auto;
  overflow: auto;
  display: flex; 
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 50px;
  justify-items: center;
  align-items: center;
}

.gallery img {
  max-width: 300px;
  max-height: 300px;
  border-style: solid;
  border-color: whitesmoke;
  padding: 5px;
  margin: 5px;
}

.about-img {
  max-width: 700px;
  max-height: 500px;
}

.aboutdiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.location {
  background-color: #f5c9ce;
  text-align: center;
  padding: 20px;
  max-width: 700px;
  margin: 0 auto;
  border-top: #301A4B 25px solid;
}

.logo {
  margin: 0 auto;
  max-width: 500px;
  max-height: 300px;
}

#contact {
  background-color: #f5c9ce;
  text-align: center;
  padding: 20px;
  max-width: 700px;
  margin: 0 auto;
  border-top: #301A4B 25px solid;
}

#rooms {
  background-color: #f5c9ce;
  text-align: center;
  padding: 20px;
  border-top: #301A4B 25px solid;
  max-width: 700px;
  margin: 0 auto;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav a:hover {
  color: #301A4B;
  border: 1px dotted white;
  text-decoration: dotted;
  padding: 5px;
}

/* Section Styles */
section {
  margin-bottom: 20px;
}

section h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

/* Footer Styles */
footer {
  background-color: #301A4B;
  text-align: center;
  padding: 10px;
  color: white;
}
